body {
    color: white;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.6;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

a h1:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

a i:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

button {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #a230c8;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 6px;
    font-size: 14px;
}

button:hover {
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px #a230c8
}

details {
  background-color: #1c1c1c;
  display: inline;
  border: 1px solid #1c1c1c;
}

details > summary {
  list-style: none;
  color: #1c1c1c;
  font-size: 14px;
  cursor: pointer
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:hover{
  text-shadow: #a230c8 0 0 15px;
  color: white;
}

details[open] summary{
  color: white;
  text-decoration: underline;
}

.container {
  position: relative;
}

.top-left {
  position: relative;
  top: 0;
  left: 0;
}

.top-right {
  position: fixed;
  bottom: unset;
  top: 2%;
  right: 2%;
}

@media screen and (max-width: 470px) {
  .top-right {
    position: fixed;
    top: unset;
    bottom: 2%;
  }
}

/* Classes for styling elements */
.fa-brands {
    color: white;
    font-size: 30px;
}